@charset 'UTF-8';

// Fonts
$font-primary: "Montserrat",Helvetica,Arial,sans-serif;
$font-secondary: "Montserrat",Helvetica,Arial,sans-serif;

$headings-weight: 200;

// Colors:
$color-primary: #4e2c8e;
$color-secondary: #1f1f1f;

@import "_base";
